@import "../../../../assets/styles/common";
.game {
  background-color: $commonColor;
  border-radius: 2px;
}
.game_end {
  background-color: #627885;
  border-radius: 2px;
}
.spacer {
  flex-grow: 1;
  min-height: 20px;

  &:first-child,
  &:last-child {
    flex-grow: 0.5;
  }
}
