@import "../../../../assets/styles/common";
@import "../../../../assets/styles/container";

.message_container {
  display: flex;
  flex-direction: row;
}

.message_container_other {
  @extend .message_container;
  justify-content: flex-start;
  margin: 5px;
}

.message_author {
  font-family: $default_font;
  margin-right: 5px;
  font-weight: bold;
}

.message_container_me {
  @extend .message_container;
  flex-direction: row-reverse;
}

.message {
  color: $baseColorDarken_2;
  font-family: $default_font;
  font-size: 16px;
  padding: 3px;
  width: 250px;
}
