@import "../../../../../assets/styles/common";
.dialog {
  background-color: $baseColorDarken_1;
  .container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    .versus {
      color: snow;
      order: 0;
      font-size: 70px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
  }
}
