@import "../../../../assets/styles/common";
@import "../../../../assets/styles/container";

.chat_input {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  flex: 0 0 auto;
  .send_message {
    color: snow;
  }
}
