@import "../../assets/styles/common";

* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 100vh;
  background-color: $commonColor;
  width: 100%;

  .banner_text {
    color: $commonTextColor;
    padding: 50px;
    font-family: $default_font;
  }

  .banner_item {
    display: flex;
    justify-content: center;

    .action_button {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }

  .banner_image {
    width: 400px;
  }
}

.tournament_list {
  width: 100%;
  background-color: $baseColorDarken_1;

  .header_text {
    padding: 50px;
    color: snow;
  }
}

.our_mission {
  padding: 100px;

  background-color: $baseColorDarken_1;

  .header_text {
    color: $commonTextColor;
    padding: 50px;
  }

  .mission_text_block {

    color: $commonTextColor;
    font-size: 1em;
  }
}

.contact_form {
  background-color: $baseColorDarken_2;
  padding-bottom: 70px;

  .header_text {
    padding: 70px;
    color: $commonTextColor;
  }

  .contact_image {
    width: 400px;
  }

  .contact_form_card {
    padding: 30px;

    .header_text {
      color: $baseColorDarken_2;
      font-weight: bold;
      text-align: center;
      padding: 20px;
    }

    text-align: center;

    .button {
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $baseColorDarken_2;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .copyright {
    padding: 20px;
    color: $commonTextColor;
  }

  .xsolla_container {
    display: flex;
    flex-direction: row;
    align-content: center;

    .xsolla_text {
      font-family: SharpGrotesk15, Impact, Arial, Helvetica Neue, Helvetica, sans-serif;
      color: white;
      width: 300px;
      padding: 10px;
      text-align: start;

      @media screen and (max-width: 500px) {
        width: 200px;
        font-size: 20px;
      }
    }

    .xsolla_logo {
      width: 100px;
      height: 100px;

      @media screen and (max-width: 500px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}
