@import '../../../assets/styles/common';

.register_form {
    .header_text {
        color: $baseColorDarken_1;
        padding: 10px 0 30px 0;
    }

    .form_group {
        .field {
            margin-bottom: 20px;
        }
    }

    .button {
    }
}
