.player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 40px;
  order: 1;
  &:nth-child(1) {
    order: -1;
  }

  .avatar {
    width: 80px;
    height: 80px;
    margin: 30px;
  }
  .name {
    color: snow;
    padding: 10px;
  }
  .score {
    color: snow;
    padding: 10px;
  }
  .button {
    color: snow;
  }
}
