@import '../../../assets/styles/common';

.logo_container {
    display: flex;
    flex-direction: row;

    .logo {
        width: 64px;
        height: 64px;
        padding: 10px 10px;
    }

    .logo_text {
        padding-top: 10px;
        width: 100px;
        color: $commonTextColor;
    }

    .logo_text_dark {
        padding-top: 10px;
        width: 100px;
        color: $baseColorDarken_2;
    }
}
.link{
    text-decoration: none;
}
