.player {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: snow;
  &.winner {
    font-weight: bold;
  }

  &.loser {
    color: #999;
  }

  &:nth-child(odd) {
    border-bottom: 1px solid #d3d3d3;
  }
  &:nth-child(even) {
    border-top: 1px solid #fff;
  }
}
