.round {
  width: 150px;
}

.offset {
  width: 30px;
}

.round,
.offset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.spacer {
  flex-grow: 1;
  min-height: 20px;
  &:first-child,
  &:last-child {
    flex-grow: 0.5;
  }
}

.square {
  height: 140px;
  width: 25px;
  margin-left: 5px;
  border-radius: 0 5px 5px 0;
  border: 2px solid #f44336;
  border-left: none;
}

.line {
  height: 2px;
  background-color: #f44336;
  margin-right: 5px;
  width: 15px;
}
