.form{
    display:flex;
    flex-direction: column;
    .text{
        text-align: center;

    }
    .field{
        margin: 20px;
       width: 90%;
    }
    .autocomplete{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
    }
   
}