@import "../../../assets/styles/common";

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  .chat_window {
    
    
    flex: 1 0 auto;
    height: 60vh;
    padding: 3px;

    flex-direction: column;
    overflow-y: scroll;
  }
}
