@import '../../../../assets/styles/common';

.card_module {
    padding: 20px;
    width: 200px;

    .card {
        background-color: $commonColor;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card_image {
                width: 64px;
            }

            .title {
                text-align: center;
                color: snow;
            }

            .description {
                padding: 10px;
                color: snow;
            }
        }
    }
}
