@import '../../assets/styles/common';

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    padding: 50px;

    @extend .flex_container;

    @media screen and (max-width: 500px) {
        padding: 5px;
    }

    .action_button_container {
        @extend .flex_container;

        .button {
            color: $commonTextColor;
            margin: 10px;
        }
    }
}
