@import "../../assets/styles/common";

.dashboard_page {
  background-color: #eaeaec;
  //Prussian blue 0A344D
  //color 2F2B46
  //color light #E8EBED
  //background-color: $baseColorDarken_2;
  //background-color: #1E2025;
  //background-color: #3939AE;
  //background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  .chat_container {
    width: 350px;

  }
  .absolute{
    position: absolute;
    margin: 15px;
    bottom: 0;
    left: 0;
  }
  .drawer_open {
    margin-right: 350px;
  }
  .dashboard_container {
    height: 90vh;

    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: stretch;

    .content {
      padding: 10px;
      flex-grow: 1;

      .paper {
        margin: 20px;
        padding: 30px;
      }

      .paper_red {
        background-color: #f44336;
      }
    }
  }

  .nav {
    background-color: $commonColor;
    z-index: 1201;
  }

  .dashboard_logo {
    width: 40px;
    height: 40px;
    padding-right: 10px;
  }

  .dashboard_con {
    display: flex;
    flex-direction: row;

    .content {
      margin: 70px;
      flex-grow: 1;

      .paper {
        padding: 30px;
      }

      .paper_red {
        background-color: #f44336;
      }
    }
  }
}
