@import "../../../assets/styles/common.scss";
.queue {
  background-color: $commonColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;

  .header {
    color: snow;
    padding: 20px;
  }
  .timerText {
    color: snow;
    padding: 10px;
  }
  .button {
    color: snow;
  }
}
