//common color old    #0F2A4C

$commonColor: #092b40;
$commonTextColor: snow;
$baseColor: #0f2a4c;
//color darken_1    #172639
$baseColorDarken_1: #082639;

//base color darken_2 old    #051831
$baseColorDarken_2: #072232;
$default_font: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
