
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .text {
    padding-bottom: 30px;
  }
  .avatar {
    margin: 10px;
  }

  .button {
    background-color: $commonColor;
    margin: 10px;
  }

  .field {
    width: 40%;
  }
}

.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .list_container {
    width: 50%;
  }
}
