
.form{
    display:flex;
    flex-direction: column;
    .text{
        text-align: center;
    }
    .share_container{
        margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .share_social{
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    code{
        border-radius: 10px;
        background-color: #eaeaec;
        padding: 10px;
        text-align: center;
        margin: 20px;
    }
    
   
}
