@import '../../assets/styles/common';

.auth_page {
    height: 100vh;
    background-color: $commonColor;

    .container {
        display: flex;
        justify-content: space-around;

        .auth_card {
            width: 60%;
            height: 50%;
            background-color: snow;

            .card_content {
                padding: 0;
            }

            .colored_part {
                background-color: $baseColorDarken_1;
                padding: 10px;
                display: flex;
                justify-content: space-around;
            }

            .auth_image {
                padding: 10px;
                width: 300px;
            }

            .auth_form {
                padding: 50px;
            }
        }
    }
}
